{% extends "base.html" %}

{% block content %}
<div class="box">
    <h2>About Old Studio:</h2>
    <p>Old Studio is a small Brazilian game development team for the Roblox platform.

Our goal is to bring back the nostalgia of playing Roblox in 2006-2007 and to create truly great games for the platform.

Our games are completely "Free to play," so you don't need to spend any Robux to benefit from them.

Our games have stories behind them; we think about every detail. Some of our games take place in the same universe.

We have donation game passes. If you want to donate Robux to our team, it will help our game improve even more. To donate Robux, simply enter one of our games and purchase one of the three donation game passes.

Thank you for your attention and thank you for playing our games. :)</p>
</div>
{% endblock %}
