{% extends "base.html" %}

{% block content %}
<div class="box">
    <h2>Welcome to Old Studio</h2>
    <p>
        Welcome to the official Old Studio website. This studio focuses on bringing back the classic Roblox experience.
    </p>
</div>

<div class="box">
    <h2>Why do we make retro-style games?</h2>
    <p>
        We want to bring back the feeling of what it would be like if Roblox were in 2006-2007. 
    </p>
</div>

<div class="box">
    <h2>News</h2>
    <ul>
        <li>🌐 Website under development.</li>
        <li>⚔️ Memories of Battle development is temporarily halted.</li>
        <li>📂 Lost Archive in development.</li>
        <li>💻 Discord community under development.</li>
        <li>🖼️ Website pages under development.</li>
    </ul>
</div>
{% endblock %}
