{% extends "base.html" %}
{% block content %}

<!-- CAIXA 1 -->
<div class="box box-with-image">
    <div class="box-text">
        <h2 style="color:#1e5aa8;">Welcome to Old Studio</h2>
        <p>Welcome to the official Old Studio website.</p>
    </div>
    <div class="box-image">
        <img src="{{ url_for('static', filename='images/build.png') }}">
    </div>
</div>

<!-- CAIXA 2 -->
<div class="box box-with-image">
    <div class="box-text">
        <h2 style="color:#1e5aa8;">Why retro games?</h2>
        <p>Bringing back the Roblox 2006–2007 feeling.</p>
    </div>
    <div class="box-image">
        <img src="{{ url_for('static', filename='images/roblox.png') }}">
    </div>
</div>

<!-- CAIXA 3 - NEWS + SLIDER -->
<div class="box">
    <h2 style="color:#1e5aa8;">News</h2>
    <p>🖼️ Lost Archive lobby finished.</p>

    <div class="slider">
        <button class="slider-btn left" onclick="prevImage()">&#10094;</button>

        <img
            id="slider-image"
            src="{{ url_for('static', filename='images/scene1.png') }}"
        >

        <button class="slider-btn right" onclick="nextImage()">&#10095;</button>
    </div>

    <p>📁 Lost Archive in development.</p>
    <p>💻 Discord server coming soon.</p>
</div>

{% endblock %}